{{> header}}
{{> loader}}
<main>
  <section class="pageBanner style2">
    <div class="bgBox abs">
      <picture>
        <source srcset="{{assets}}/images/aboutBanner.webp" type="image/webp">
        <source srcset="{{assets}}/images/aboutBanner.jpg" type="image/jpeg">
        <img src="{{assets}}/images/aboutBanner.jpg" loading="lazy" alt="" width="1900" height="688">
      </picture>
    </div>

  </section>
  <section class="pageSection  ">
    <div class="container ">
      <div class="sectionTitle  ">
        <h1 data-text-sp>
          شكرا لتصويتك!
        </h1>
      </div>

      <div class="textBox fin_anim d1">
        <p>لوريم إيبسوم هو ببساطة نص شكلي يستخدم في صناعة الطباعة والتنضيد. لقد كان لوريم إيبسوم
          النص الوهمي القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما أخذت طابعة غير معروفة لوحًا من النوع و
          تدافعت لجعل كتاب عينة نوع.</p>
      </div>

      <div class="moreWrap fin_anim d2">
        <a href="#" class="more color lg_">
          <span>ارجع إلى التصويت</span>
        </a>
      </div>

    </div>
  </section>

</main>

{{> script-page}}
{{> footer}}