// .homeSection {
//   padding: 17vh 0;
//   position: relative;

//   overflow: hidden;

//   @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//     padding: 13vh 0;
//   }
//   @media only screen and (max-width: 1024px) {
//     padding: 7vh 0;
//   }
//   @media only screen and (max-width: 980px) {
//     padding: 80px 0;
//   }
//   @media only screen and (max-width: 767px) {
//     padding: 70px 0;
//   }
//   @media only screen and (max-width: 340px) {
//     padding: 50px 0;
//   }

//   .container-fluid {
//     padding: 0;
//     &.offMode {
//       padding-inline-start: calc(4vw + 15px);
//       @media screen and (max-width: 1024px) {
//         padding-inline-start: calc(2.5vw + 15px);
//       }
//       @media screen and (max-width: 767px) {
//         padding-inline-end: calc(2.5vw + 15px);
//       }
//       .sectionTitle,
//       .moreWrap {
//         padding-inline-end: calc(4vw + 15px);
//         @media screen and (max-width: 1024px) {
//           padding-inline-end: calc(2.5vw + 15px);
//         }
//         @media screen and (max-width: 767px) {
//           padding-inline-end: 0;
//         }
//       }
//     }
//   }
// }
// .sectionTitle {
//   > * {
//     font-size: 3.6vw;

//     @media only screen and (max-width: 980px) {
//       font-size: 4.2vw;
//     }
//     @media only screen and (max-width: 767px) {
//       font-size: 9vw;
//     }
//   }
// }
// .homeBanner {
//   position: relative;
//   color: $color-white;
//   background-color: $brand-text;
//   .container-fluid {
//     position: relative;
//     padding: 0;
//   }
//   .swiper-pagination-bullet:only-child {
//     display: block !important;
//   }

//   .bottomBox {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 50%;
//     z-index: 10;
//     padding-inline-end: 2rem;
//     padding-inline-start: 4vw;
//     padding-bottom: 4rem;

//     display: grid;
//     grid-template-columns: auto 1fr auto;
//     grid-gap: 2rem;
//     align-items: center;
//     transform: translateY(2rem);
//     opacity: 0;
//     transition: all 0.6s ease-in-out;
//     @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//       padding-bottom: 2rem;
//     }
//     @media only screen and (max-width: 1024px) {
//       width: 100%;
//       padding-inline-end: 4vw;
//       padding-bottom: 2rem;
//     }
//     @media only screen and (max-width: 767px) {
//       grid-gap: 1rem;
//       padding-bottom: 1rem;
//     }
//   }

//   .swiper-pagination {
//     margin: 0;
//     display: flex;
//     align-items: center;
//     min-height: 60px;
//     @media only screen and (max-width: 767px) {
//       min-height: 50px;
//     }
//     .swiper-pagination-bullet {
//       border-radius: 50%;
//       overflow: hidden;
//       width: 20px;
//       height: 20px;
//       background-color: #323131;
//       margin: 0;
//       margin-inline-end: 0.8rem;
//       @media only screen and (max-width: 767px) {
//         margin-inline-end: 0.5rem;
//         width: 18px;
//         height: 18px;
//       }
//       &:last-child {
//         margin-inline-end: 0;
//       }
//       img {
//         opacity: 0;
//         aspect-ratio: 2/2;
//         border-radius: 50%;
//         object-fit: cover;
//         transition: all 0.3s ease-in-out;
//       }
//       &.swiper-pagination-bullet-active {
//         width: 60px;
//         height: 60px;
//         padding: 6px;
//         background-color: transparent;
//         border: 1px solid rgba($color-white, 0.8);
//         @media only screen and (min-width: 1800px) {
//           width: 80px;
//           height: 80px;
//         }
//         @media only screen and (max-width: 767px) {
//           width: 50px;
//           height: 50px;
//           padding: 4px;
//         }
//         img {
//           opacity: 1;
//         }
//       }
//     }
//   }
//   .navBox {
//     .nav_ {
//       &.left_ {
//         transform: rotate(90deg);
//       }
//       &.right_ {
//         transform: rotate(-90deg);
//       }
//     }
//   }
//   .swiper-scrollbar {
//     &:before {
//       background-color: rgba($color-white, 0.19);
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 0;
//       height: 100%;
//       background-color: $brand-color;
//     }

//     &.anim {
//       &::after {
//         animation: lineAnim 5000ms ease-in-out forwards;
//       }
//     }
//   }
// }

// @keyframes lineAnim {
//   from {
//     width: 0;
//   }

//   100% {
//     width: 100%;
//   }
// }

// .baItem {
//   height: 100vh;
//   position: relative;
//   overflow: hidden;

//   .inner_ {
//     display: flex;
//     height: 100%;

//     justify-content: flex-end;
//     align-items: flex-end;
//     @media only screen and (max-width: 1024px) {
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       padding-top: 30vh;
//     }
//     @media only screen and (max-width: 767px) {
//       padding-bottom: calc(50px + 2rem);
//       padding-top: var(--top_off);
//       align-items: flex-end;
//     }
//   }

//   .imgBox {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     &::before {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       background: transparent
//         linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat
//         padding-box;
//       z-index: 3;
//     }

//     &:after {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 35vh;
//       background: transparent linear-gradient(0deg, #79100c00 0%, #79100c 100%)
//         0% 0% no-repeat padding-box;
//       z-index: 5;
//     }
//     picture {
//       transform: scale(1.1);
//       transition: all 1.5s ease-in-out;
//     }
//     video {
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   .titleBox {
//     position: relative;
//     z-index: 5;
//     width: 45%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     //grid-template-rows: auto 1fr;
//     //grid-gap: 0.8rem;
//     padding-inline-end: 4vw;
//     padding-inline-start: 2rem;
//     padding-bottom: 4rem;
//     @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//       padding-bottom: 2rem;
//     }
//     @media only screen and (max-width: 1024px) {
//       align-items: center;
//       width: 70%;
//       padding-inline-end: 0;
//       padding-bottom: 0rem;
//       padding-inline-start: 0;
//     }
//     @media only screen and (max-width: 767px) {
//       width: 90%;
//       padding-bottom: 10vh;
//     }
//   }

//   .sec_ {
//     margin-bottom: 1.5rem;
//     position: relative;
//     padding-bottom: 5px;
//     font-size: 1.3vw;
//     font-weight: bold;
//     line-height: 1.1;
//     clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
//     transition: all 0.5s ease-in-out;
//     @media only screen and (min-width: 1800px) {
//       margin-bottom: 2rem;
//     }
//     @media only screen and (max-width: 1024px) {
//       font-size: 2vw;
//       margin-bottom: 2.5rem;
//     }
//     @media only screen and (max-width: 767px) {
//       font-size: 3.8vw;
//       margin-bottom: 2rem;
//     }
//     &::before {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       width: 100%;
//       height: 2px;
//       background-color: $brand-color;
//     }
//   }
//   h2 {
//     margin: 0;
//     font-size: 5.2vw;
//     line-height: 1;
//     font-weight: bold;
//     @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//       font-size: 6vw;
//     }
//     @media only screen and (max-width: 1024px) {
//       font-size: 10vw;
//     }
//     @media only screen and (max-width: 980px) {
//       font-size: 9vw;
//     }
//     @media only screen and (max-width: 767px) {
//       font-size: 12vw;
//     }
//   }

//   [data-text-sp] {
//     span {
//       position: relative;
//       overflow: hidden;
//       display: inherit;

//       > i {
//         display: inline-block;
//         font-style: normal;
//         transform: translateY(100%) rotate(5deg);
//         transform-origin: left top;
//         transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
//       }
//     }
//   }
//   // &.swiper-slide-prev,
//   // &.swiper-slide-next {
//   //   .sec_ {
//   //     clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
//   //   }
//   // }
// }

// .is-loaded {
//   .homeBanner {
//     .bottomBox {
//       transform: none;
//       opacity: 1;
//       transition-delay: 0.3s;
//     }
//   }
//   .baItem {
//     &.swiper-slide-active {
//       .sec_ {
//         transition-delay: 0.1s;
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
//       }
//       .imgBox {
//         picture {
//           transform: scale(1);
//         }
//       }
//       [data-text-sp] {
//         span {
//           @for $i from 1 through 15 {
//             &:nth-child(#{$i}) {
//               > i {
//                 transition-delay: #{$i * 0.25s + 0.4s};
//               }
//             }
//           }
//           > i {
//             transform: translateY(0%) rotate(0deg);
//           }
//         }
//       }
//     }
//   }
// }

// .seasonEpisodesWrap {
//   .swiper {
//     overflow: visible;
//   }
// }

// .mediaWrap {
//   display: grid;
//   grid-template-columns: 10% calc(90% - 4vw);
//   grid-gap: 4vw;
//   @media only screen and (max-width: 980px) {
//     grid-gap: 1rem;
//     grid-template-columns: 15% calc(85% - 1rem);
//   }
//   @media only screen and (max-width: 767px) {
//     grid-template-columns: 100%;
//   }
//   .sliderBox {
//     overflow: hidden;
//   }
//   .swiper {
//     overflow: visible;
//     padding-inline-end: 40vw;
//     @media only screen and (max-width: 1024px) {
//       padding-inline-end: 0;
//     }
//     @media only screen and (max-width: 980px) {
//       padding-inline-end: 20vw;
//     }
//     @media only screen and (max-width: 767px) {
//       padding-inline-end: 0;
//     }
//   }
// }

// .tabBox {
//   //padding-inline-end: 3rem;
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     display: grid;
//     grid-gap: 2rem;
//     @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//       grid-gap: 1.5rem;
//     }
//     @media only screen and (max-width: 767px) {
//       display: flex;
//       flex-wrap: wrap;
//       grid-gap: 0;
//       li {
//         margin-inline-end: 1.5rem;
//       }
//     }

//     li {
//       transform: translateY(2rem);
//       opacity: 0;
//       transition: all 0.3s ease-in-out;
//     }
//   }

//   .link_ {
//     font-size: 1.6vw;
//     line-height: 1.2;
//     font-weight: bold;
//     opacity: 0.14;
//     transition: all 0.3s ease-in-out;
//     color: $brand-text;
//     @media only screen and (min-width: 1800px) {
//       font-size: 1.4vw;
//     }
//     @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//       font-size: 1.8vw;
//     }
//     @media only screen and (max-width: 1024px) {
//       font-size: 2vw;
//     }
//     @media only screen and (max-width: 980px) {
//       font-size: 2.5vw;
//     }
//     @media only screen and (max-width: 767px) {
//       font-size: 4.5vw;
//     }
//     &:hover,
//     &.active {
//       color: $brand-color;
//       opacity: 1;
//     }
//   }
// }

// .inView {
//   .tabBox {
//     ul {
//       li {
//         transform: none;
//         opacity: 1;
//         @for $i from 1 through 5 {
//           &:nth-child(#{$i}) {
//             transition-delay: #{$i * 0.1s + 0.1s};
//           }
//         }
//       }
//     }
//   }
// }

// // footer {
// //   background-color: rgba($brand-color, 0.03);
// // }

// .winnerWrap {
//   display: grid;
//   grid-template-columns: 25% 1fr;
//   align-items: flex-start;
//   grid-gap: 2rem;
//   padding: 3rem;
//   background-color: #fdf8f8;
//   position: relative;
//   transform: translateY(2rem);
//   opacity: 0;
//   // &:after {
//   //   content: "";
//   //   position: absolute;
//   //   left: 0;
//   //   bottom: 0;
//   //   width: 100%;
//   //   height: 100%;
//   //   background-color: #fdf8f8;
//   //   z-index: 10;
//   // }
//   @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
//     padding: 2.5rem 2rem;
//     grid-gap: 1.5rem;
//   }
//   @media only screen and (max-width: 1024px) {
//     grid-gap: 1.5rem;
//     padding: 2.5rem 2rem;
//   }
//   @media only screen and (max-width: 980px) {
//     grid-template-columns: 30% 1fr;
//   }
//   @media only screen and (max-width: 767px) {
//     grid-template-columns: 100%;
//     grid-gap: 1rem;
//     padding: 1.5rem 1rem 1rem;
//   }
//   .imgBox {
//     position: relative;
//     padding-top: 118%;
//     overflow: hidden;

//     &::before,
//     &:after {
//       content: "";
//       position: absolute;
//       left: 0;
//       width: 100%;
//       z-index: 3;
//       opacity: 0.7;
//     }
//     &::before {
//       top: 0;
//       height: 30%;
//       background: transparent linear-gradient(0deg, #79100c00 0%, #79100c 100%)
//         0% 0% no-repeat padding-box;
//     }
//     &:after {
//       bottom: 0;
//       height: 70%;
//       background: transparent
//         linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat
//         padding-box;
//     }
//   }
//   .name_ {
//     font-size: 1.9vw;
//     font-weight: bold;
//     line-height: 1.2;
//     padding-bottom: 0.8rem;
//     border-bottom: 1px solid rgba($brand-text, 0.2);
//     margin-bottom: 0.8rem;
//     @media only screen and (min-width: 1800px) {
//       font-size: 1.6vw;
//     }
//     @media only screen and (max-width: 1024px) {
//       font-size: 2.2vw;
//     }
//     @media only screen and (max-width: 980px) {
//       font-size: 2.8vw;
//     }
//     @media only screen and (max-width: 767px) {
//       font-size: 5.2vw;
//     }
//   }
//   .metaBox {
//     display: grid;
//     // grid-gap: 1rem;

//     .meta_ {
//       display: grid;
//       grid-template-columns: auto 1fr;
//       grid-gap: 0.5rem;
//       align-items: center;
//       font-weight: bold;
//       font-size: 1rem;
//       padding-bottom: 0.8rem;
//       border-bottom: 1px solid rgba($brand-text, 0.2);
//       margin-bottom: 0.8rem;

//       @media only screen and (max-width: 767px) {
//         font-size: 1rem;
//       }

//       &.no_line {
//         border-bottom: none;
//         grid-template-columns: 100%;
//       }
//       &:last-child {
//         border-bottom: none;
//         margin-bottom: 0;
//       }
//       .t_ {
//         color: $brand-color;
//         &.colorBlack {
//           color: $brand-text;
//           font-weight: 100;
//         }
//       }
//       &:last-child {
//         margin-bottom: 0;
//       }

//       .textBox {
//         p {
//           font-weight: 400;
//         }
//       }
//     }

//     .btnWrap {
//       margin-top: 1rem;
//     }

//     .input-field {
//       display: grid;
//       grid-template-columns: 1fr auto;
//       grid-gap: 1rem;
//       align-items: center;
//       border-bottom: 1px solid $brand-text;
//       input {
//         //   padding: 0;
//         border: none;
//         outline: none;
//         //  height: 2.5rem;
//       }
//     }
//   }
// }

// .inView {
//   .winnerWrap {
//     // &::after {
//     transform: none;
//     opacity: 1;
//     transition: all 0.8s cubic-bezier(0.32, 1.26, 0.53, 1.33) 0.6s;
//     // }
//   }
// }

// .socialWrap {
//   transform: translateY(2rem);
//   opacity: 0;
// }
// .inView {
//   .socialWrap {
//     // &::after {
//     transform: none;
//     opacity: 1;
//     transition: all 0.8s cubic-bezier(0.32, 1.26, 0.53, 1.33) 0.6s;
//     // }
//   }
// }

// .home-banner {
//   position: relative;
//   color: $color-white;
//   .home-banner-bg {
//     background-color: $brand-bg;
//     .imgBox {
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       pointer-events: none;
//       picture {
//         opacity: 0.07;
//         width: 100%;
//         height: 100%;
//         position: relative;
//       }
//     }
//   }
// }

// .home-title,
// .home-info {
//   width: 100%;
//   max-width: 92vw;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
//   position: relative;
//   bottom: 0;
// }

// .homeBanner {
//   height: 100vh;
//   position: relative;
//   overflow: hidden;
//   color: $color-white;
//   padding-bottom: 4rem;
//   .bgWrap {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     pointer-events: none;
//     &:after {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       background-color: rgba($color-black, 0.47);
//     }
//   }

//   .container {
//     display: flex;
//     height: 100%;
//     align-items: flex-end;
//   }
//   h1 {
//     margin: 0;
//     font-size: 8vw;
//     padding-inline-end: 15%;
//     line-height: 1.1;
//   }
// }

// .bannerWrap {
//   display: grid;
//   grid-template-columns: 1fr minmax(auto, 40vw);
//   grid-gap: 4rem;
//   align-items: flex-end;
//   width: 100%;
// }

// .banItem {
//   border-left: 1px solid $color-white;
//   padding-inline-start: 5%;
// }

// .bannerList {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 2rem;
//   align-items: flex-start;
// }

// Common Section
h2 {
  font-weight: 900;
  color: $brand-text-2;
  font-size: 3vw;
  padding-inline-end: 1rem;
}

.section {
  padding: 10vh 0;
  min-height: 100vh;
}

.sectionBlue {
  background-color: $brand-color;
  .selectric-items {
    background-color: $color-white;
    .disabled,
    li {
      color: $color-black !important;
    }

    li.highlighted,
    li.selected,
    li:hover {
      color: $color-black;
      background-color: rgba($brand-color, 0.4);
    }
  }
}

.bColorWhite {
  color: $color-white;
}

.button_ {
  a {
    background-color: $brand-color;
    border-radius: 2rem;
    color: $color-white;
    padding: 0.6rem 1.4rem;
    font-size: 1vw;
  }
}

.button_two {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.hide {
  display: none;
}

.container {
  display: flex;
  height: 100%;
  font-weight: 900;
}

.leftWrap_ {
  width: 25%;
}

.rightWrap_ {
  width: 72%;
  margin: auto;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 3rem 2rem;
}

.filterWrap {
  position: relative;
  max-width: 10rem;
  width: 100%;
  .selectric {
    border: 1px solid $color-black;
    padding: 0.1rem 2.8rem 0.1rem 0.7rem;
    height: auto;
    border-radius: 2rem;
    display: flex;
    .label {
      color: $color-black;
      margin: 0;
      height: 1.8rem;
      font-size: 1vw;
      font-weight: 300;
      transition: all 0.3s ease;
      padding-inline-end: 0.5rem;
      width: 100%;
      // &::after {
      //   content: "";
      //   width: 0.7rem;
      //   height: 0.7rem;
      //   border-right: 2px solid $color-white;
      //   border-bottom: 2px solid $color-white;
      //   transform: rotate(45deg);
      //   margin-left: 2rem;
      //   margin-bottom: 0.3rem;
      // }
    }
  }
  .button {
    display: none;
  }
}

.caretBox {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-inline-end: 0.8rem;
  margin-top: 0.58rem;
  pointer-events: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// common participants styles
.pitemWrapper {
  p {
    font-weight: bold;
    font-size: 1vw;
  }
}

.pitem {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.ImageBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.1;
  }
}

.pRank {
  background-color: rgba($brand-text-2, 0.3);
  color: $color-white;
  padding: 0.3rem 1.4rem;
  margin-right: -1.8rem;
  border-radius: 2rem;
  display: flex;

  span {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.pRankBox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-end;
  padding-inline-end: 1rem;

  img {
    border: 4px solid rgba($color-white, 0.35);
    border-radius: 50%;
  }
}

.flatBox {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  // padding-top: 20%;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Home Section
.homeBanner {
  height: 100vh;
  color: $color-white;
  overflow: hidden;
  position: relative;
  padding-bottom: 4rem;

  .bgWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      opacity: 0.47;
    }
  }

  .container {
    align-items: flex-end;
  }
}

.bannerWrap {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 40vw);
  grid-gap: 4rem;
  width: 100%;

  h1 {
    padding-inline-end: 15%;
    font-size: 8vw;
    margin: 0;
    line-height: 1.1;
  }

  .desc_left {
    font-weight: normal;
    font-size: 1vw;
    margin-bottom: 6rem;
  }
}

.rightWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: flex-end;
}

.banItem {
  border-left: 1px solid $color-white;
  padding-inline-start: 5%;
  padding-inline-end: 5%;

  .number {
    font-weight: 900;
    color: $brand-color;
  }

  p {
    font-size: 1vw;
    font-weight: 300;
  }
}

// Participant Section
.participants {
  .leftWrap_ {
    a {
      color: $brand-text-2;
      display: block;
      margin: 1rem 0;
      opacity: 0.3;
      transition: all 0.2s ease;

      &.active,
      &:hover {
        color: $brand-color;
        opacity: 1;
      }
    }
  }

  .infowrap {
    display: flex;
    flex-direction: column;
    padding-inline-end: 10%;
    background-color: $brand-color;
    color: $color-white;
    padding: 4rem 3rem;
    border-radius: 0.5rem;

    h3 {
      font-size: 2vw;
      margin-top: 0;
    }
  }
}

// Episodes
.episodes {
  position: relative;
  overflow: hidden;
  .logoWrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20rem;
    margin-bottom: 1rem;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .leftWrap_ {
    .filterWrap {
      .selectric {
        border: 1px solid $color-white;
        .label {
          color: $color-white;
        }
      }
      // .selectric-scroll {
      //   background-color: $color-white;
      // }

      // .selectric-items li {
      //   color: $brand-color;
      // }

      // .selectric-items .disabled {
      //   color: $brand-color;
      // }
    }
  }

  .rightWrap_ {
    .eItemLink {
      p {
        color: $color-white;
        font-weight: bold;
      }
    }
    .eitem {
      position: relative;
      padding-top: 100%;
      overflow: hidden;
      display: flex;
    }

    .playBtnWrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .inner_ {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .playBtn {
      background-color: rgba($color-white, 0.2);
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .playIcon {
        height: 2rem;
        width: 2rem;
        margin-left: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .timeStapWrap {
      position: absolute;
      top: 0;
      right: 0;
      margin-inline-end: 0.8rem;
      margin-top: 0.6rem;
      .inner_ {
        position: relative;
        background-color: rgba($color-white, 0.2);
        padding: 0.04rem 1.2rem 0.3rem;
        border-radius: 2rem;
      }
      span {
        color: $color-white;
        font-weight: 500;
        font-size: 0.7rem;
      }
    }
  }
}
